@import '../../../assets/style-variables/_colors.scss';

.SaleData {
    background: white;
    height: 240px;

    .header{
        font-size: 19px;
        background-color: $secondary-color;
        width:100%;
        padding: 15px;
        margin-bottom: 5px;
        color: white;
        border-radius: 5px 5px 0 0;
    }

    .body{
        padding: 5px 15px;
        border-radius: 0 0 5px 5px;

        form {
            display: flex;
        }

        .product-list {
            background-color: #c4c4c4;
            overflow-y: visible;
            padding: 10px;
        }
    }
}

// @media screen and (max-height: 450px) {}