@import '../../assets/style-variables/_colors.scss';

.HeaderBar {
    height:  70px;
    display: flex;
    align-items: center;
    background: $primary-color;
    
    .header-bar-icon {
        // margin-top: 5px;
        padding: 12px 16px 0px;
    }    
}
